@media screen and (max-width: 800px) {
    .menu {
        width: 50%;
    }

    .banner {
        width: 50%;
    }

    .clearadapt {
        clear: both;
    }

    .content {
        margin: 0
    }

    .menuban {
        background-color: green;
    }
}